<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <display-name>GestionEtudiants</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>servlets</servlet-name>
        <servlet-class>servlet./Etudiant/delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlets</servlet-name>
        <url-pattern>//Etudiant/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.css</url-pattern>   
			</servlet-mapping>
			<servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.scss</url-pattern>   
			</servlet-mapping>
				  
			<servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.js</url-pattern>   
			</servlet-mapping>
            <servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.png</url-pattern>   
			</servlet-mapping>
			<servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.jpg</url-pattern>   
			</servlet-mapping>
			<servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.svg</url-pattern>   
			</servlet-mapping>
			<servlet-mapping>
				    <servlet-name>default</servlet-name>
				    <url-pattern>*.json</url-pattern>   
			</servlet-mapping>
			
</web-app>
   
